[Unit]
Description=uavcast-camera controller
Requires=network-online.target
Wants=network-online.target
After=network-online.target
[Service]
WorkingDirectory=/app/uavcast/bin/build
Type=simple
GuessMainPID=no
ExecStart=/app/uavcast/bin/build/uav_camera -start
KillMode=control-group
SyslogIdentifier=uavcast-camera
StandardOutput=journal+console
StandardError=inherit
[Install]
WantedBy=multi-user.target