Se denne linken 
https://code.visualstudio.com/docs/remote/troubleshooting

Bruk "Authorize your Windows machine to connect"


Step #1 (På windows maskina)
-   ssh-keygen

Step #2 (Kopier id_rsa.pub til raspberry)
cd Users/solgt/.ssh
scp .\id_rsa.pub pi@10.0.0.128:~/

$USER_AT_HOST="your-user-name-on-host@hostname"
$PUBKEYPATH="$HOME\.ssh\id_rsa.pub"

Step3  (skriv disse kommandoer til powershell)
$pubKey=(Get-Content "$PUBKEYPATH" | Out-String); ssh "$USER_AT_HOST" "mkdir -p ~/.ssh && chmod 700 ~/.ssh && echo '${pubKey}' >> ~/.ssh/authorized_keys && chmod 600 ~/.ssh/authorized_keys"